/* @import 'tailwindcss' */

#div1{
    background-color: aqua;
    border:1px solid black;
    width:1250px;
    height:100px;
    margin-left: 20px;
    display: flex;
    border-radius: 5px;

}
#div2{
/* border: 1px solid black; */
width:200px;
height:40px;
text-align: center;
padding-top: 10px;
margin-top: 20px;
margin-left: 10px;
font-size: 30px;
font-weight: bold;
/* display: flex; */

}
#div3{
margin-left: 200px;
margin-top: 20px;
/* border:1px solid black; */
/* height: */
background-color: black;
color: white;
width:100px;
text-align: center;
height:60px;
border-radius: 5px;

}
.div3{
    margin-left: 500px;

margin-top: 20px;
/* border:1px solid black; */
/* height: */
background-color: black;
color: white;
width:100px;
text-align: center;
height:60px;
border-radius: 5px;
}

#div4{
    border: 1px solid black;
    width:500px;
    height:200px;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 400px;
    text-align: center;
    padding-top: 20px;
    background-color:azure;
}
#sp{
    font-size: 20px;
    font-weight: bold;

}
.nav{
    background-color: blanchedalmond;
    color:white;
}
.nav1{
    color:greenyellow
}
#hh1{
    border:2px dashed green;
    width:300px;
    height:100px;
    text-align: center;
    margin-left: 500px;
    padding-top: 50px;

}
#reg{
    border:1px solid brown;
    width:400px;
    height:400px;
    margin-left: 400px;
    margin-top: 60px;
    text-align: center;
}
#p1{
    background-color: aquamarine;
    height:100px;
    border-radius: 5px;
    margin-top: 280px;
    display: flex;
    width: 1500px;

}
#s1{
    background-color:wheat;
    width:90px;
    border: 1px solid black;
    height:20px;
    text-align: center;
    margin-top: 30px;
margin-left: 3px;


}
#pra{
    background-color: bisque;
    width:300px;
    height:100px;
    text-align: center;
    padding-top: 20px;
    margin-left: 100px;
    margin-top: 20px;
}