.div1{
    border:2px solid black;
    width:1000px;
    margin-left:100px;
    height:150px;
    text-align: center;
    padding-top: 50px;
    color:red;
    font-size: 100px;
    background-color: azure;

}

.div2{
    border:2px solid black;
    width:1000px;
    margin-left:100px;
    height:200px;
    margin-top: 10px;
    border-radius:20px;
    /* display: flex; */
}

.a1{

    border:1px solid black;
    text-align: center;
    /* justify-content: center; */
    
    width:100px;
    height:50px;
    margin-left:170px;
    /* margin-top: 200px; */
    /* display: flex; */
    float:left;
    margin-top:50px;  
    padding-top:20px; 
    font-size: 30px;
    background-color:aquamarine;
    color:red;
    
    
}
.div3{
border:2px solid black;
    width:500px;
    margin-left:350px;
    height:200px;
    text-align: center;
    padding-top: 50px;
    margin-top:10px;
}
.h1{
    color:green;
    margin-left: 300px;
}