#div{
    background-color: aquamarine;
    height:100px;

}
.div2{
    background-color:aqua;
    border:1px solid black;
    width:1000px;
    margin-left: 90px;
    margin-top:20px;
    text-align: center;
    display: flex;
    /* height: 200px; */


}
.div3{
    border:2px solid black;
    width:200px;
    margin-left: 80px;
}