#h1{
font-size:50px;
color:red;
font-style: oblique;
}
.hr1{
    height:2px;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}
#div1{
    border:2px solid black;
    width:600px;
    height:70px;
    margin-top:20px;
    background-color: aqua;
    padding-left: 20px;
}
.div2{
    border:3px dashed gainsboro;
    width:300px;
    padding-left:20px;
}
.div1{
    border:2px dashed blueviolet;
    width:100px;
    height:80px;
    border-radius: 0cap;
    padding-left: 10px;
}
.bt1{
    border:4px solid burlywood;
    background-color: aqua;
    color:red;
    font-size: larger;
}
#hr2{
    height:2px;
    background-color: black;
    margin-top: 300px;
}
#hr3{
    height:2px;
    background-color: black;
    margin-top: 100px;
}
#r{
    margin-left:100px;
    border: 2px solid black;
    width:250px;
    height:210px;
    background-repeat: no-repeat;
    background-image: url('red.jpeg');
    
float:left;
}
#g{
    margin-left:100px;
        border: 2px solid black;
    width:280px;
    height:210px;
    background-repeat: no-repeat;
    background-image: url('green.jpeg');
    
float:left;
}
#y{
    margin-left:100px;
        border: 2px solid black;
    width:250px;
    height:230px;
    background-repeat: no-repeat;
    background-image: url('yellow.jpeg');
float:left;
}

#d1{
    /* border:2px solid black; */
    width:100px;
    height:65px;
    font-size: 50px;
    float:left;
    margin-left:140px;
    padding-left: 10px;

}
#d2{
/* border:2px solid black; */
    width:150px;
    height:65px;
    font-size: 50px;
    float:left;
    margin-left:250px;

}
#d3{
/* border:2px solid black; */
    width:150px;
    height:65px;
    font-size: 50px;
    float:left;
    margin-left:230px;
}
.s1{
    border:2px solid black;
    width:100px;
    height:50px;
    margin-top:100px;
    font-size:20px;
    
}
#sig{
    border:2px solid black;
    width:100px;
    height:50px;
    font-weight: bold;
    

}
#def{
    border:2px solid grey;
    width:150px;
    background-color: aqua;
    color:red;
}
#fa{
    color:red;
}