#a{
    border:2px solid black;
    width:800px;
    margin-top: 10px;
    height:100px;
}
#div1{
    border:2px solid black;
    width: 100px;
    height:20px;
}
#div2{
    /* border:2px solid black; */
    width: 100px;
    height:20px;
    margin-top:10px;
    display: none;
    margin-left:5px;
}
#div1:hover #div2{
    display:inline;
}